<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/matt_funk_">Twitter</a>
  <a class="footer-link website" href="https://www.appbrewery.co/">Website</a>
  <p class="copyright">© 2019 Matthew Funk @ The University of Texas.</p>
</div>
