<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Matthew Funk</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="~css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
    <h1>I'm Matt.</h1>
    <h2 class="a-programmer">a <span class="pro">pro</span>grammer.</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
    <img src="images/mountain.png" alt="mountain-img">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="profile-pic" src="https://pbs.twimg.com/profile_images/850181064257658880/QP1q47fw_400x400.jpg" alt="">
      <h2>Hello.</h2>
      <p class="intro">I'm a student at University of Texas at Austin studying MIS and learning Web Development.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="food-catching" src="https://media.giphy.com/media/VKoHwsl8ofnyw/giphy.gif" alt="food-catching gif">
        <h3>Catching Food in my Mouth</h3>
        <p class="skills-text">Unlike this adorable golden, I have impressed many people with my mouth-eye coordination.</p>
      </div>
      <div class="skill-row">
        <img class="handstands" src="https://media.giphy.com/media/8PjxXh6IOoEPvuBl6e/giphy.gif" alt="handstand gif">
        <h3>Handstands</h3>
        <p class="skills-text">My personal best handstand hold is 43 seconds, which is by no means an Olympic record.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want to have a handstand contest.</h3>
      <p class="contact-message">Love challenging your mouth-eye coordination? Let's talk about how weird we are!</p>
      <a class="butn" href="mailto:mfunk017@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/matt_funk_">Twitter</a>
    <a class="footer-link website" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 Matthew Funk @ The University of Texas.</p>
  </div>

</body>

</html>
