<%- include("partials/header"); %>

<body>
  <div class="top-container content">
    <video id="videoBG" poster="images/silky_blue.png" autoplay muted loop>
      <source src="videos/Silky_Blue.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <h1>PROJECTS</h1>
      <p>
        These are some of my prjects that I've worked on.
      </p>
    </div>
  </div>
  <div class="middle-container">
    <div class="projects">
      <div class="project">
        <img class="image" src="https://media.giphy.com/media/VKoHwsl8ofnyw/giphy.gif" alt="food-catching gif">
        <a href="https://github.com/matthewfunk17/kproject"><h3>K-project</h3></a>
        <p class="skills-text">Unlike this adorable golden, I have impressed many people with my mouth-eye coordination.</p>
      </div>
      <div class="project">
        <img class="image" src="https://media.giphy.com/media/8PjxXh6IOoEPvuBl6e/giphy.gif" alt="handstand gif">
        <a href="https://github.com/matthewfunk17/simon"><h3>Simon Game</h3></a>
        <p class="skills-text">My personal best handstand hold is 43 seconds, which is by no means an Olympic record.</p>
      </div>
      <div class="project">
        <img class="image" src="https://media.giphy.com/media/8PjxXh6IOoEPvuBl6e/giphy.gif" alt="handstand gif">
        <a href="https://github.com/matthewfunk17/tindog"><h3>Tindog</h3></a>
        <p class="skills-text">My personal best handstand hold is 43 seconds, which is by no means an Olympic record.</p>
      </div>
      <div class="project">
        <img class="image" src="https://media.giphy.com/media/8PjxXh6IOoEPvuBl6e/giphy.gif" alt="handstand gif">
        <a href="https://github.com/matthewfunk17/dice"><h3>Dice</h3></a>
        <p class="skills-text">My personal best handstand hold is 43 seconds, which is by no means an Olympic record.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want to have a handstand contest.</h3>
      <p class="contact-message">Love challenging your mouth-eye coordination? Let's talk about how weird we are!</p>
      <a class="butn" href="mailto:mfunk017@gmail.com">CONTACT ME</a>
    </div>
  </div>

</body>

<%- include("partials/footer"); %>
